@using AirlinePlanner.Models;

<h1>Airline Planner Flights</h1>
<h2>Flight: @Model["selectedFlight"].GetFlightName()</h2>
<h2>Departing From: @City.Find(Model["selectedFlight"].GetDepartureCityId()).GetCityName()</h2>
<h2>Departure Time: @Model["selectedFlight"].GetDepartureTime()</h2>
<h2>Arriving at: @City.Find(Model["selectedFlight"].GetArrivalCityId()).GetCityName()</h2>
<h2>Arrival Time: @Model["selectedFlight"].GetArrivalTime()</h2>
<h2>Status: @Model["selectedFlight"].GetStatus()</h2>

<hr/>
@* @if (@Model["flightCities"].Count != 0)
{ *@
  <h4>Here are all the cities in this flight:</h4>
  <ul>
    @foreach (var city in @Model["flightCities"])
    {
      <li>@city.GetCityName()</li>
    }
  </ul>
@* } *@

<p><a href="/">Return to Main Page</a></p>

@* <h4>Add a city to this flight:</h4>

<form action='/flights/@Model["selectedFlight"].GetId()/cities/new’ method='post'>
  <label for='city-id'>Select a city</label>
  <select id='city-id' name='city-id' type='text'>
    @foreach (var city in @Model["allCities"])
    {
      <option value='@city.GetCityId()'>@city.GetCityName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form> *@
